<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Login page</h1>




<div th:if="${param.error}" >
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
        <span class="block sm:inline">Invalid username and password.</span>
        <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
                        <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
                    </span>
    </div>
</div>
<div th:if="${param.logout}" class="bg-red-300"> You have been logged out.</div>

<!-- form -->
<form method="post" th:action="@{/login}" class="space-y-7 text-sm text-black font-medium dark:text-white"  uk-scrollspy="target: > *; cls: uk-animation-scale-up; delay: 100 ;repeat: true">

    <!-- email -->
    <div>
        <label for="email" class="">Email address</label>
        <div class="mt-2.5">
            <input id="email" name="username" type="text" autofocus=""  placeholder="Identifiant" required="" th:value="${email}" class="!w-full !rounded-lg !bg-transparent !shadow-sm !border-slate-200 dark:!border-slate-800 dark:!bg-white/5">
        </div>
    </div>
    <!-- password -->
    <div>
        <label for="email" class="">Password</label>
        <div class="mt-2.5">
            <input id="password" name="password" type="password" placeholder="********" th:value="${password}"  class="!w-full !rounded-lg !bg-transparent !shadow-sm !border-slate-200 dark:!border-slate-800 dark:!bg-white/5">
        </div>
    </div>

    <div>
        <button type="submit" class="button bg-primary text-white w-full">Connexion</button>
    </div>
</form>


<h1>Register</h1>
<form th:action="@{/register}" th:object="${user}" method="post">
    <!-- email -->
    <div>
        <label for="nom" class="">Nom</label>
        <div class="mt-2.5">
            <input id="nom" name="nom" type="text" th:field="*{nom}" >
        </div>
    </div>
    <div>
        <label for="prenom" class="">Prénom</label>
        <div class="mt-2.5">
            <input id="prenom" name="nom" type="text" th:field="*{prenom}" >
        </div>
    </div>
    <div>
        <label for="emailF" class="">Email</label>
        <div class="mt-2.5">
            <input id="emailF" name="email" type="text" th:field="*{email}" >
        </div>
    </div>
    <!-- password -->
    <div>
        <label for="mdp" class="">Password</label>
        <div class="mt-2.5">
            <input id="mdp" name="password" type="password" placeholder="********" th:field="*{mdp}">
        </div>
    </div>

    <div>
        <button type="submit" class="button bg-primary text-white w-full">Connexion</button>
    </div>
</form>

</body>
</html>